{% extends 'base.html' %}
{% block title %}Student page {% endblock %}

{% block content %}

<h2>Available Students</h2>

<table border="1">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Enrollment Date</th>
    </tr>

    {% for student in students %}
    <tr>
        <td>{{ student.first_name }}</td>
        <td>{{ student.last_name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.enrollment_date }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock %}